body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    to bottom right,
    rgb(58, 109, 168),
    whitesmoke
  );
}

code {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  margin: auto;
  margin-top: 2%;
  width: 95%;
  padding: 1%;
}

.allDays {
  float: left;
  background-color: linear-gradient(to bottom right, lightblue, whitesmoke);
  width: 17.6%;
  height: 70vh;
  margin-left: 2%;
  border-radius: 20px;
  text-align: left;
  transition: 0.8s ease;
  margin-top: 2%;
}

.allDays:hover {
  transform: scale(1.05);
  background-color: rgb(88, 136, 175);
}

.weekdays {
  margin-left: 10px;
  font-size: 12pt;
  text-align: center;
  background: rgb(231, 231, 231);
  border-radius: 10px;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  height: 30px;
}

.myHeader {
  color: white;
  margin-left: 25px;
  text-align: left;
}

.temperatures {
  margin-top: 20px;
}

.allInformationAboutDays {
  margin-top: 30%;
  display: flex;
  flex-direction: column;
  line-height: 2;
  height: 200px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(231, 231, 231);
  align-items: left;
  text-indent: 5%;
  color: black;
  font-size: 14pt;
  border-radius: 20px;
  transition: 0.2s ease;
}

.allInformationAboutDays:hover {
  background-color: rgb(65, 65, 68);
  transform: scale(1.3);
  color: white;
}

img.forecastImage {
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 270px;
  border-radius: 20px;
}
