body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom right, darkblue, whitesmoke);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  height: 100vh;
  width: 100%;
  margin: auto;
  margin-top: 2%;
  width: 95%;
  padding: 1%;
}

.allDays {
  float: left;
  background-image: linear-gradient(to bottom right, lightblue, whitesmoke);
  width: 17.6%;
  height: 70vh;
  margin-left: 2%;
  border-radius: 20px;
  text-align: left;
}

.weekdays {
  margin-left: 10px;
  font-size: 12pt;
  text-align: center;
  background: white;
  border-radius: 10px;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}

.myHeader {
  color: white;
  margin-left: 25px;
  text-align: left;
}

.aligningDescriptions {
  width: 100%;
  overflow: hidden;
}

.descriptions {
  width: 32%;
  float: left;
  margin: auto;
}

.temperatures {
  margin-top: 20px;
}

.descriptionsText {
  width: 68%;
  font-style: italic;
  float: left;
}

.humidities {
}

.allInformationAboutDays {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  line-height: 2;
  height: 200px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background: white;
  align-items: left;
  text-indent: 5%;
  color: black;
  font-size: 12pt;
  border-radius: 20px;
}

img.forecastImage {
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 80%;
}
